body {
    font-family: "LouizeDisplay-Medium";
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header h1 {
    text-align: center;
    margin: 21px 0;
    font-size:3vw;
}

.essay-body, .bibliography {
    margin-bottom: 21px;
    line-height: 3;
    font-size:1.2vw;
}

.bibliography h2, .bibliography ul {
    margin-left: 20px;
}

.footnotes {
    font-size: 0.8em;
}

.footnotes h2 {
    font-size: 1em;
    margin-bottom: 10px;
}

.footnotes ol {
    padding-left: 20px;
}

.footnotes li {
    margin-bottom: 10px;
}

.footnotes a {
    text-decoration: none; /* Removes underline from return link for a cleaner look */
}